# Rename this file to local_env.yml
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.

#Google geocoding key
GOOGLE_GEO_API = [API KEY]
#Google browser key for map js
GOOGLE_BROWSER = [KEY]
#username for Geonames api
GN_UN = [UN]
#set the base directory
BASE_DIR = File.dirname(Dir.pwd)