# Rename this file to local_env.yml
# Add account settings and API keys here.
# This file should be listed in .gitignore to keep your settings secret!
# Each entry gets set as a local environment variable.

GOOGLE_GEO_API = [API KEY]
BASE_DIR = File.dirname(Dir.pwd)